apiVersion: v1
kind: Namespace
metadata:
  name: "{{helm_tiller_namespace}}"
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: "{{helm_tiller_team_sa}}"
  namespace: "{{helm_tiller_namespace}}"
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{helm_tiller_team}}
  namespace: {{helm_tiller_namespace}}
rules:
- apiGroups: ["", "extensions", "apps"]
  resources: ["deployments", "replicasets", "pods", "configmaps", "secrets"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"] # You can also use ["*"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "tiller-binding-{{helm_tiller_team}}"
  namespace: "{{helm_tiller_namespace}}"
subjects:
- kind: ServiceAccount
  name: "{{helm_tiller_team_sa}}"
  namespace: "{{helm_tiller_namespace}}"
roleRef:
  kind: Role
  name: {{helm_tiller_team}}
  apiGroup: rbac.authorization.k8s.io
---
