Host *
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    ServerAliveInterval 60
    TCPKeepAlive yes
    ProxyCommand ssh -q -A {{bastion.user}}@{{bastion.name}} nc %h %p
    LogLevel QUIET
    StrictHostKeyChecking no

Host {{bastion.name}}
    IdentityFile {{cluster.ssh_private_key}}
    IdentitiesOnly yes
    user {{bastion.user}}
    PasswordAuthentication no
    ForwardAgent yes
    ServerAliveInterval 60
    TCPKeepAlive yes
    ProxyCommand none
    ControlMaster auto
    ControlPath ~/.ssh/ansible-%r@%h:%p
    ControlPersist 15m
    
Host 172.*
    IdentityFile {{cluster.ssh_private_key}}
    user {{node.user}}
    IdentitiesOnly yes
    ProxyCommand ssh {{bastion.name}} -W %h:%p