[defaults]
inventory = ./inventory
# host_key_checking = false

ansible_managed = Ansible managed: {file}

# Enable fact caching
gathering = smart
fact_caching = redis
fact_caching_timeout = 86400
# seconds

# activate profile_tasks plugin for time display
callback_whitelist = profile_tasks

# human-readable stdout/stderr results display
callback_plugins = ./plugins/callback 
bin_ansible_callbacks=True
stdout_callback=yaml
stderr_callback=yaml
# or define environment variable `ANSIBLE_STDOUT_CALLBACK = debug'

[inventory]
# enable inventory plugins, default: 'host_list', 'script', 'yaml', 'ini'
enable_plugins = host_list, ini, script

# ignore these extensions when parsing a directory as inventory source
ignore_extensions = .pyc, .pyo, .swp, .bak, ~, .rpm, .md, .txt, ~, .orig, .cfg, .retry

# ignore files matching these patterns when parsing a directory as inventory source
ignore_patterns = ec2.ini

# [paramiko]
# host_key_auto_add = False
# record_host_keys=False

[ssh_connection]
ssh_args = -F ./ssh.cfg -o ControlMaster=auto -o ControlPersist=5m -o StrictHostKeyChecking=no
control_path = ~/.ssh/ansible-%%r@%%h:%%p
pipelining=True
