[defaults]
# activate profile_tasks plugin for time display
callback_whitelist = profile_tasks

# human-readable stdout/stderr results display
callback_plugins = ./plugins/callback 
bin_ansible_callbacks=True
stdout_callback=yaml
stderr_callback=yaml
# or define environment variable `ANSIBLE_STDOUT_CALLBACK = debug'