{
  "clusters": [
    {
    {% for host in groups['node'] %}
      "nodes": [
        {
          "node": {
            "hostnames": {
              "manage": [
                "{{hostvars[host].ec2_private_dns_name]}}"
              ],
              "storage": [
                "{{hostvars[host].ec2_private_ip_address]}}"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sde",
            "/dev/sdf"
            "{{hostvars[host].ec2_block_devices]}}"
          ]
        },
    {% end_for %}
      ]
    }
  ]
}