#{{ ansible_managed }}
AcceptEnv LANG LC_*
ChallengeResponseAuthentication {{ sshd_challenge_response_authentication }}
HostbasedAuthentication no
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
IgnoreRhosts yes
KeyRegenerationInterval 3600
ListenAddress {{ ansible_host }}
LoginGraceTime 120
LogLevel INFO
PasswordAuthentication {{ sshd_password_authentication }}
PermitEmptyPasswords no
PermitRootLogin {{ sshd_permitroot_login }}
Port 22
PrintLastLog yes
PrintMotd no
Protocol 2
PubkeyAuthentication yes
RhostsRSAAuthentication no
RSAAuthentication yes
ServerKeyBits 1024
StrictModes yes
Subsystem sftp /usr/lib/openssh/sftp-server
SyslogFacility AUTH
TCPKeepAlive yes
UsePAM {{ sshd_use_pam }}
UsePrivilegeSeparation yes
X11DisplayOffset 10
X11Forwarding yes