Host *
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes

Host {{bastion.name}}
    IdentityFile {{cluster.ssh_private_key}}
    IdentitiesOnly yes
    user {{bastion.user}}
    PasswordAuthentication no
    ForwardAgent yes
    ServerAliveInterval 60
    TCPKeepAlive yes
    ProxyCommand none
    ControlMaster   auto
    ControlPath     ~/.ssh/ansible-%r@%h:%p
    ControlPersist  15m
    
Host 172.*
    IdentityFile {{cluster.ssh_private_key}}
    user {{node.user}}
    IdentitiesOnly yes
    ProxyCommand ssh {{bastion.name}} -W %h:%p

Host master
    IdentityFile /home/olaolu/ec2_keys/eu-west-1/mbshow_testi.pem
    user admin
    IdentitiesOnly yes
    ProxyCommand ssh {{bastion.name}} -W %h:%p

Host node
    IdentityFile /home/olaolu/ec2_keys/eu-west-1/mbshow_testi.pem
    user admin
    IdentitiesOnly yes
    ProxyCommand ssh {{bastion.name}} -W %h:%p